body{
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 120px;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=number]:focus {
    background-color: lightblue;
}

/* Hiding number arrows in Chrome, IE and other browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hiding number arrows in Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.conversion_hide{
position: absolute;
left: -1500px;
float: left;
}

.conversion{
  position: absolute;
  left: 20%;
  float: left;
}

.sidemenu{
  background: crimson;
  width: 15%;
  min-width: 160px;
  border: 1px solid black;
  text-align: center;
  border-radius: 14px;
  overflow: hidden; 
  float: left;
  clear: both;
}

.sidemenu_button{
  cursor: pointer;
  padding: 6px;
  font-size: 23px;
  border: inherit;
}

.conversion_table{
  position: relative;
  left: 5%;
  float: left;
  border: 1px solid black;
}

.conversion_table_hide{
  top: -500px;
  float: left;
}

.combinatorics{
  position: absolute;
  float: left;
  top: 25px;
  left: 20%;
}

input[type=radio]{
  width: 10px;
  height: 10px;
}

.combinatorics input[type=checkbox]{
  width: 10px;
  height: 10px;
}

.comb_result{
  border: 1px solid black;
  padding: 4px;
  border-radius: 4px;
}

.comb_result:active{
  background: lightblue;
}

.comb_result {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

.comb_result:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.comb_hide{
  left: -1000px;
}

.ttables{
  position: absolute;
  float: left;
  top: 25px;
  left: 20%;
}

.thide{
  position: absolute;
  left: -1000px;
}

.grid-container{
  display: grid;
  grid-template-rows: [rowA] 50px [romB] 50px [rowC] 50px [rowD] 50px [rowE] 50px [rowF] 50px [colG];
  grid-template-columns: [colA] 50px [colB] 50px [colC] 50px [colD] 50px [colE];
  grid-template-areas: 
  "theader theader theader theader"
  "ta  tb  toutput  toutput"
  "ta1 tb1 toutput1 toutput1"
  "ta2 tb2 toutput2 toutput2"
  "ta3 tb3 toutput3 toutput3"
  "ta4 tb4 toutput4 toutput4";
}

.grid-item{
  border: 1px solid black;
  text-align: center;
  padding: 12px;
}

.theader{
  grid-area: theader;
}

.ta{
  grid-area: ta;
}
.ta1{
  grid-area: ta1;
}
.ta{
  grid-area: ta2;
}
.ta3{
  grid-area: ta3;
}
.ta4{
  grid-area: ta4;
}

.tb{
  grid-area: tb;
}
.tb1{
  grid-area: tb1;
}
.tb2{
  grid-area: tb2;
}
.tb3{
  grid-area: tb3;
}
.tb4{
  grid-area: tb4;
}

.toutput{
  grid-area: toutput;
}
.toutput1{
  grid-area: toutput1;
}
.toutput2{
  grid-area: toutput2;
}
.toutput3{
  grid-area: toutput3;
}
.toutput4{
  grid-area: toutput4;
}