body{
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 120px;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=number]:focus {
    background-color: lightblue;
}

/* Hiding number arrows in Chrome, IE and other browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hiding number arrows in Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.conversion_hide{
position: relative;
left: -1500px;
float: left;
}

.conversion{
  position: relative;
  left: 10%;
  float: left;
}

.sidemenu{
  background: crimson;
  width: 15%;
  min-width: 160px;
  border: 1px solid black;
  text-align: center;
  border-radius: 14px;
  overflow: hidden; 
  float: left;
  clear: both;
}

.sidemenu_button{
  cursor: pointer;
  padding: 6px;
  font-size: 23px;
  border: inherit;
}

.conversion_table{
  position: relative;
  left: 250px;
  float: left;
}

